@model IEnumerable<PI_INFOX.Models.Basicas.basVaga_Estagio_Emprego>

@{
    ViewBag.Title = "Index";
}

<h2>Bem Vindo as Vagas de Estagios E Empregos</h2>

<div>
    <ul>
        <li>@Html.ActionLink("Criar Novo", "Create")</li>
    </ul>
</div>
<div>
    <ul>
        <li>@Html.ActionLink("Home","Index","home")</li>
    </ul>
</div>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VagaID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nomeVaga)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cargo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.horarioEntrada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.horarioSaida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nomeEmpresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Instituicao.login)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VagaID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nomeVaga)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cargo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.horarioEntrada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.horarioSaida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nomeEmpresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Instituicao.login)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
