@model PI_INFOX.Models.Basicas.basContato

@{
    ViewBag.Title = "InfoX - Contato/Detalhes";
}
<div>
<h2>Contato</h2>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ContatoID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContatoID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Observacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacao)
        </dd>
        <dt>
         @Html.ActionLink("Volta", "Index",null, new {@class="btn btn-info"})
        </dt>
    </dl>
</div>
