@model PI_INFOX.Models.Basicas.basAviso

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>basAviso</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.AvisoID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AvisoID)
            @Html.ValidationMessageFor(model => model.AvisoID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.nomeAviso)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nomeAviso)
            @Html.ValidationMessageFor(model => model.nomeAviso)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.horaPublicacao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.horaPublicacao)
            @Html.ValidationMessageFor(model => model.horaPublicacao)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DisciplinaID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DisciplinaID)
            @Html.ValidationMessageFor(model => model.DisciplinaID)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
