@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Session["nomeUsuarioLogado"] != null)
{
    <text>
       <h3> Bem Vindo @Session["nomeUsuarioLogado"].ToString() </h3>
    </text>
}
<div>
    <ul>
        <li>@Html.ActionLink("Cadastrar Disciplinas", "Index", "disciplina")</li>
    </ul>
</div>


@*<div id="topo">
    <div id="login">
        <ul>
            <li>@Html.ActionLink("Log off", "Index", new {area = "" }) </li>
        </ul>
    </div>
</div>

<div id="menu">
    <ul>
        <li>@Html.ActionLink("Arquivos","Index","material")</li>
        <li>@Html.ActionLink("Forum","Index","forum")</li>
        <li>@Html.ActionLink("Aviso","Index","aviso")</li>
        <li>@Html.ActionLink("Vagas","Index","vagas")</li>
        
        <li>@Html.ActionLink("Usuario","Index","usuario")</li>
    </ul>
</div>*@