@model PagedList.IPagedList<PI_INFOX.Models.Basicas.basAviso>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@if (Session["nomeUsuarioLogado"] != null)
{
    <text>
       <h3> Bem Vindo @Session["nomeUsuarioLogado"].ToString() </h3>
    </text>
}


<div class="overflow">
    <div class="pull-right-postagem">
        @Html.Action("NoticiasForum", "Home", null)
        <br />
        @Html.Action("NoticiasVagas", "Home", null)
        <br />
        @Html.Action("NoticiasMaterial", "Home", null)
        <br />
    </div>
    <div class="row-fluid1">
        <div class="hero-unit">
            @Html.Action("NoticiasAvisos", "Home", null)
        </div>
    </div>
</div>
    