@model PagedList.IPagedList<PI_INFOX.Models.Basicas.basAviso>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Session["nomeUsuarioLogado"] != null)
{
    <text>
       <h3> Bem Vindo @Session["nomeUsuarioLogado"].ToString() </h3>
    </text>
}


<div class="img">
    <img src="http://professoralucianafalcao.com.br/wp-content/uploads/banner1.png"/>
</div>
<h4>Avisos em Destaques.</h4>
<hr />
<div class="pull-right-postagem">
    <h4>Postagens Recentes</h4>
    <hr />
    <ul>
        <li>@Html.ActionLink("Novo Comentario", "index", "forum")</li>
        <li>@Html.ActionLink("Novo Texto", "index", "forum")</li>
        <li>@Html.ActionLink("Comentario novo", "index", "forum")</li>
        <li>@Html.ActionLink("Qualquer Coisa", "index", "forum")</li>
        <li>@Html.ActionLink("Muito estranho", "index", "forum")</li>
    </ul>
</div>
<div class="destaque">
    <table>
    <tr>
  
    @foreach (var item in Model)
    {
        <ul>
            <li>
                <h6>
                    @Html.DisplayFor(modelItem => item.titulo)
                </h6>
                <p>@Html.DisplayFor(modelItem => item.dataPublicacao)</p>
                <h7>@Html.DisplayFor(modelItem => item.messagemAviso)</h7>
                <a href="">Mais</a>
            </li>
            <br>
        </ul>
         
    }
</table>   
    <div>
        Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
        of @Model.PageCount

        @if (Model.HasPreviousPage)
        {
            @Html.ActionLink("<<", "Index", new { pagina = 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })
            @Html.Raw(" ");
            @Html.ActionLink("< Anterior", "Index", new { pagina = Model.PageNumber - 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })
        }
        else
        {
            @:<<
            @Html.Raw(" ");
            @:< Anterior
    }

        @if (Model.HasNextPage)
        {
            @Html.ActionLink("Próxima >", "Index", new { pagina = Model.PageNumber + 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })
            @Html.Raw(" ");
            @Html.ActionLink(">>", "Index", new { pagina = Model.PageCount, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })
        }
        else
        {
            @:Próxima >
            @Html.Raw(" ")
            @:>>
    }
    </div>