@model PI_INFOX.Models.Basicas.basVaga_Estagio_Emprego

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>basVaga_Estagio_Emprego</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VagaID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VagaID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nomeVaga)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nomeVaga)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cargo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cargo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.horario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.horario)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.salario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.salario)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nomeEmpresa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nomeEmpresa)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Instituicao.senha)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Instituicao.senha)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
