@model PI_INFOX.Models.Basicas.basVaga_Estagio_Emprego

@{
    ViewBag.Title = "Details";
}
<div>
<h2>Vagas</h2>
       <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VagaID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VagaID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nomeVaga)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomeVaga)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoVaga)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoVaga)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cargo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cargo)
        </dd>
         <dt>
            @Html.DisplayNameFor(model => model.requesito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.requesito)
        </dd>
         <dt>
            @Html.DisplayNameFor(model => model.exp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.exp)
        </dd>
         <dt>
            @Html.DisplayNameFor(model => model.formacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.formacao)
        </dd>
         <dt>
            @Html.DisplayNameFor(model => model.local)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.local)
        </dd>
         <dt>
            @Html.DisplayNameFor(model => model.horario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.horario)
        </dd>
         <dt>
            @Html.DisplayNameFor(model => model.salario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salario)
        </dd>
         <dt>
            @Html.DisplayNameFor(model => model.nomeEmpresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomeEmpresa)
        </dd>
         <dt>
         @Html.ActionLink("Volta", "Index",null, new {@class="btn btn-info"})
        </dt>
    </dl>
</div>