@model PI_INFOX.Models.Basicas.basVaga_Estagio_Emprego

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>basVaga_Estagio_Emprego</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.VagaID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VagaID)
            @Html.ValidationMessageFor(model => model.VagaID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.nomeVaga)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nomeVaga)
            @Html.ValidationMessageFor(model => model.nomeVaga)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.cargo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.cargo)
            @Html.ValidationMessageFor(model => model.cargo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.horario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.horario)
            @Html.ValidationMessageFor(model => model.horario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.salario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.salario)
            @Html.ValidationMessageFor(model => model.salario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.nomeEmpresa)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nomeEmpresa)
            @Html.ValidationMessageFor(model => model.nomeEmpresa)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.matriculaInstituicaoID, "Instituicao")
        </div>
        <div class="editor-field">
            @Html.DropDownList("matriculaInstituicaoID", String.Empty)
            @Html.ValidationMessageFor(model => model.matriculaInstituicaoID)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
