<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<div id="tudo">
    <body>
        <div id="topo">
            <div id="login">
                @Html.ActionLink("Login","Login","home")
                @Html.ActionLink("Cadastrar","Index","usuario")
             </div>
        </div>
        <div id="menu">
             @Html.ActionLink("Home","Index","home")
             @Html.ActionLink("Arquivos","Index","material")
             @Html.ActionLink("Forum","Index","forum")
             @Html.ActionLink("Aviso","Index","aviso")
             @Html.ActionLink("Vagas","Index","vagas")
             @Html.ActionLink("Sobre","Sobre","home")
             @Html.ActionLink("Contato","Index","contato")
        </div>
        <div id="header">
            <div id="corpo">
            </div>
            <h1>
                Postagens Recentes
            </h1>
            <div id="posts">
                  <p>
                    Com o Sport Eternamente estarei....
                  </p>
                  <p>
                    Pois Rubro-Negras foram as cores que abracei....
                  </p>
                  <p>
                    sport,sport,sport uma razão pra viver....
                  </p>
            </div> 
            <h2>
                Arquivos Recentes
            </h2>
        </div>
       @RenderBody()

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
    <footer>
        <div>
            <h3>Todos os direitos reservados
            </h3>
        </div>
    </footer>
 </div>
</html>
