<div class="span2">
    <div class="well">
        <ul>
            <li>@Html.ActionLink("Home", "Index", "home")</li>
            <li>@Html.ActionLink("Arquivos", "Index", "material")</li>
            <li>@Html.ActionLink("Forum", "Index", "forum")</li>
            <li>@Html.ActionLink("Aviso", "Index", "aviso")</li>
            <li>@Html.ActionLink("Vagas", "Index", "vagas")</li>
            <li>@Html.ActionLink("Sobre", "Sobre", "home")</li>
            <li>@Html.ActionLink("Contato", "Create", "contato")</li>
            <li>@Html.ActionLink("Cadastro", "Index", "usuario")</li>
        </ul>
    </div>
</div>