@model PI_INFOX.Models.Basicas.basContato

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Session["nomeUsuarioLogado"] != null)
{
    <text>
       <h3> Bem Vindo @Session["nomeUsuarioLogado"].ToString() </h3>
    </text>
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Contato</legend>

             <div class="editor-label">
            @Html.LabelFor(model => model.Nome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nome)
            @Html.ValidationMessageFor(model => model.Nome)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Telefone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Telefone)
            @Html.ValidationMessageFor(model => model.Telefone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Observacao)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Observacao)
            @Html.ValidationMessageFor(model => model.Observacao)
        </div>

        <p>
            <input type="submit" value="Criar" />
        </p>
    </fieldset>
}

<div>
    <ul>
        <li>@Html.ActionLink("Volta", "Index")</li>
    </ul>
</div>
@*<div>
    <ul>
        <li>@Html.ActionLink("Home","Index","home")</li>
    </ul>
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
