@model PI_INFOX.Models.Basicas.basProfessor

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>basProfessor</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.matriculaID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.matriculaID)
            @Html.ValidationMessageFor(model => model.matriculaID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.nome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nome)
            @Html.ValidationMessageFor(model => model.nome)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.disciplinaExtras)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.disciplinaExtras)
            @Html.ValidationMessageFor(model => model.disciplinaExtras)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.matriculaInstituicaoID, "Instituicao")
        </div>
        <div class="editor-field">
            @Html.DropDownList("matriculaInstituicaoID", String.Empty)
            @Html.ValidationMessageFor(model => model.matriculaInstituicaoID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DisciplinaID, "Disciplinas")
        </div>
        <div class="editor-field">
            @Html.DropDownList("DisciplinaID", String.Empty)
            @Html.ValidationMessageFor(model => model.DisciplinaID)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
