@model PI_INFOX.Models.Basicas.basProfessor

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>basProfessor</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.matriculaID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.matriculaID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.disciplinaExtras)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.disciplinaExtras)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Instituicao.senha)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Instituicao.senha)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Disciplinas.nomeDisciplina)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Disciplinas.nomeDisciplina)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
