@model PI_INFOX.Models.Basicas.basProfessor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>basProfessor</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.matriculaID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.matriculaID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.disciplinaExtras)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.disciplinaExtras)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Instituicao.senha)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Instituicao.senha)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Disciplinas.nomeDisciplina)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Disciplinas.nomeDisciplina)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
