@model IEnumerable<PI_INFOX.Models.Basicas.basProfessor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.matriculaID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.disciplinaExtras)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Instituicao.senha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Disciplinas.nomeDisciplina)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.matriculaID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.disciplinaExtras)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Instituicao.senha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Disciplinas.nomeDisciplina)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
