@model PI_INFOX.Models.Basicas.basForum

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Session["nomeUsuarioLogado"] != null)
{
    <text>
       <h3> Bem Vindo @Session["nomeUsuarioLogado"].ToString() </h3>
    </text>
}

<h3>Você deseja realmente deletar?</h3>
<fieldset>
    <legend>Forum</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ForumID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ForumID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.titulo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.titulo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dataHoraCriacao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dataHoraCriacao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mensagem)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mensagem)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mensagemResposta)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mensagemResposta)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Disciplina.nomeDisciplina)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Disciplina.nomeDisciplina)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.matricula)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.matricula)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Voltar", "Index")
    </p>
}
