@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Session["nomeUsuarioLogado"] != null)
{
    <text>
       <h3> Bem Vindo @Session["nomeUsuarioLogado"].ToString() </h3>
    </text>
}
<div class="pull-right-postagem">
    @Html.Action("NoticiasForum", "Home", null)
    <br />
    @Html.Action("NoticiasVagas", "Home", null)
    <br />
    @Html.Action("NoticiasMaterial", "Home", null)
    <br />
</div>
<div class="row-fluid1">
    <div class="hero-unit">
        @Html.Action("NoticiasAvisos", "Home", null)
    </div>
</div>
