@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Session["nomeUsuarioLogado"] != null)
{
    <text>
       <h3> Bem Vindo @Session["nomeUsuarioLogado"].ToString() </h3>
    </text>
}

@*<div id="topo">
    <div id="login">
        <ul>
            <li>@Html.ActionLink("Logout","home") </li>
        </ul>
    </div>
</div>

<div id="menu">
    <ul>
        <li>@Html.ActionLink("Arquivos","Index","material")</li>
        <li>@Html.ActionLink("Forum","Index","forum")</li>
        <li>@Html.ActionLink("Aviso","Index","aviso")</li>
        <li>@Html.ActionLink("Vagas","Index","vagas")</li>
        <li>@Html.ActionLink("Sobre","Sobre","home")</li>
        <li>@Html.ActionLink("Contato","Create","contato")</li>
    </ul>
</div>*@