@model PI_INFOX.Models.Basicas.basAviso

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Session["nomeUsuarioLogado"] != null)
{
    <text>
       <h3> Bem Vindo @Session["nomeUsuarioLogado"].ToString() </h3>
    </text>
}
<h3>Você deseja realmente deletar?</h3>

<fieldset>
    <legend>basAviso</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AvisoID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AvisoID)
    </div>

<div class="display-label">
         @Html.DisplayNameFor(model => model.titulo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.titulo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.messagemAviso)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.messagemAviso)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dataPublicacao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dataPublicacao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Disciplinas.nomeDisciplina)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Disciplinas.nomeDisciplina)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Volta", "Index")
    </p>
}
