@model PI_INFOX.Models.Basicas.basUsuario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>basUsuario</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.login)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.login)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.senha)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.senha)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.confirmaSenha)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.confirmaSenha)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lembreteSenha)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lembreteSenha)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.respostaSenha)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.respostaSenha)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.confirmaEmail)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.confirmaEmail)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dataNascimento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dataNascimento)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.telefone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.telefone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tipoUser)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tipoUser)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.matricula)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.matricula)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Instituicao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Instituicao)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
