@model PI_INFOX.Models.Basicas.basDisciplina

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>basDisciplina</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DisciplinaID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DisciplinaID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nomeDisciplina)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nomeDisciplina)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
