@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="topo">
    <div id="login">
        <ul>
            <li>@Html.ActionLink("Logout", "Login",routeValues: null, htmlAttributes: new { id ="login" }) </li>
        </ul>
    </div>
</div>

<div id="menu">
    <ul>
        <li>@Html.ActionLink("Arquivos","Index","material")</li>
        <li>@Html.ActionLink("Forum","Index","forum")</li>
        <li>@Html.ActionLink("Aviso","Index","aviso")</li>
        <li>@Html.ActionLink("Vagas","Index","vagas")</li>
        <li>@Html.ActionLink("Sobre","Sobre","home")</li>
        <li>@Html.ActionLink("Contato","Create","contato")</li>      
    </ul>
</div>