<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body> 
    <div class="container">
        <div class="navbar navbar-inverse ">
            <div class="navbar-inner">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "home")</li>
                    <li>@Html.ActionLink("Arquivos", "Index", "material")</li>
                    <li>@Html.ActionLink("Forum", "Index", "forum")</li>
                    <li>@Html.ActionLink("Aviso", "Index", "aviso")</li>
                    <li>@Html.ActionLink("Vagas", "Index", "vagas")</li>
                    <li>@Html.ActionLink("Contato", "Index", "contato")</li>
                    <li>@Html.ActionLink("Cadastrar Professor", "Create", "usuario")</li>
                    <li>@Html.ActionLink("Cadastrar Disciplinas", "Index", "disciplina")</li>
                </ul>
                @Html.Partial("_MenuTopo")
            </div>
        </div>
    </div>

      <div class="container body-content">
        <div class="span12">
             @RenderBody()
         </div>
        <div class"row">
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Info X</p>
            </footer>
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
  
</html>
