@model PI_INFOX.Models.Basicas.basUsuario

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Session["nomeUsuarioLogado"] != null)
{
    <text>
       <h3> Bem Vindo @Session["nomeUsuarioLogado"].ToString()  ao Deletar os Usuarios</h3>
    </text>
}



<h3>Você deseja realmente deletar?</h3>
<fieldset>
    <legend>Usuarios</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.login)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.login)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.senha)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.senha)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lembreteSenha)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lembreteSenha)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.respostaSenha)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.respostaSenha)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dataNascimento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dataNascimento)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.telefone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.telefone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tipoUser)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tipoUser)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.matricula)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.matricula)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Disciplinas.nomeDisciplina)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Disciplinas.nomeDisciplina)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Voltar", "Index")
    </p>
}
