@model PI_INFOX.Models.Basicas.basUsuario

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@if (Session["nomeUsuarioLogado"] != null)
{
    <text>
       <h3> Bem Vindo @Session["nomeUsuarioLogado"].ToString() </h3>
    </text>
}
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.senha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.senha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lembreteSenha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lembreteSenha)
        </dd>
         <dt>
            @Html.DisplayNameFor(model => model.respostaSenha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.respostaSenha)
        </dd>
         <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>
         <dt>
            @Html.DisplayNameFor(model => model.dataNascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataNascimento)
        </dd>
         <dt>
            @Html.DisplayNameFor(model => model.telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefone)
        </dd>
         <dt>
            @Html.DisplayNameFor(model => model.tipoUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoUser)
        </dd>
         <dt>
            @Html.DisplayNameFor(model => model.matricula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.matricula)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Disciplinas.nomeDisciplina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disciplinas.nomeDisciplina)
        </dd>
        <dt>
             @Html.ActionLink("Edita", "Edit", new {  id=Model.UserID }, new {@class="btn btn-info"}) 
         @Html.ActionLink("Volta", "Index",null, new {@class="btn btn-info"})
        </dt>
    </dl>
</div>