@model PI_INFOX.Models.Basicas.basMaterial

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Session["nomeUsuarioLogado"] != null)
{
    <text>
       <h3> Bem Vindo @Session["nomeUsuarioLogado"].ToString() Poste seu material </h3>
    </text>
}
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset >
        <legend>Material</legend>

   
        <div class="editor-label">
            @Html.LabelFor(model => model.Descricao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Descricao)
            @Html.ValidationMessageFor(model => model.Descricao)
        </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.titulo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.titulo)
            @Html.ValidationMessageFor(model => model.titulo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.linkDiretorio)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.linkDiretorio)
            @Html.ValidationMessageFor(model => model.linkDiretorio)
        </div>

        <div class="editor-label" hidden="hidden">
            @Html.LabelFor(model => model.DisciplinaID, "Disciplinas")
        </div>
        <div class="editor-field" hidden="hidden">
            @Html.DropDownList("DisciplinaID",String.Empty )
            @Html.ValidationMessageFor(model => model.DisciplinaID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.matricula)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.matricula)
            @Html.ValidationMessageFor(model => model.matricula)
        </div>

        <p>
            <input type="submit" value="Criar" class="btn btn-success" />
            @Html.ActionLink("Volta", "Index", null, new { @class = "btn btn-info" })
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
