@model PI_INFOX.Models.Basicas.basMaterial

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Session["nomeUsuarioLogado"] != null)
{
    <text>
       <h3> Bem Vindo @Session["nomeUsuarioLogado"].ToString() ao Editar </h3>
    </text>
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Material</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.MaterialID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MaterialID)
            @Html.ValidationMessageFor(model => model.MaterialID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Descricao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Descricao)
            @Html.ValidationMessageFor(model => model.Descricao)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.linkDiretorio)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.linkDiretorio)
            @Html.ValidationMessageFor(model => model.linkDiretorio)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DisciplinaID, "Disciplinas")
        </div>
        <div class="editor-field">
            @Html.DropDownList("DisciplinaID", String.Empty)
            @Html.ValidationMessageFor(model => model.DisciplinaID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.matricula)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.matricula)
            @Html.ValidationMessageFor(model => model.matricula)
        </div>

        <p>
            <input type="submit" value="Salva" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Volta", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
