@model IEnumerable<PI_INFOX.Models.Basicas.basMaterial>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Session["nomeUsuarioLogado"] != null)
{
    <text>
       <h3> Bem Vindo ao local destianados aos Materiais  @Session["nomeUsuarioLogado"].ToString() </h3>
    </text>
}


<p>
    @Html.ActionLink("Criar Novo", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaterialID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.linkDiretorio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Disciplinas.nomeDisciplina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.matricula)
        </th>
        <th></th>
    </tr>
@* criar um if para so aparecer os materiais que o usuario criou *@
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaterialID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.linkDiretorio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Disciplinas.nomeDisciplina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.matricula)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.MaterialID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaterialID  }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaterialID  })
        </td>
    </tr>
}

</table>
<div>
    <ul>
        <li>@Html.ActionLink("Home", "Index","home")</li>
    </ul>
</div>
